body{
    align-items: center;
}


#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main button{
    font-size: 200%;
    background-color: rgb(230, 5, 80);
    color: white;
    border-radius: 5px;
    margin: 10px;
}

#main input{
    font-size: 150%;
}


.container{
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
}
.row{
    flex: 1;
    display: flex;
}
.container:nth-of-type(even){
    background-color: grey;
}

.box{
    /* border: 1px rgb(175, 175, 175) solid; */
    flex: 1;
}

.hovered{
    background-color: rgb(209, 26, 26);
}